.container {
	width: 90%;
	max-width: 96rem;
	margin: 8rem auto;
	border-radius: 20px;
	box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
	background: white;
}

.error {
	color: #ff3f80;
	font-size: 1.4rem;
}

button {
	text-decoration: none;
	background: var(--primary);
	color: white;
	font-weight: bold;
	border: 0;
	border-radius: 20px;
	padding: 1rem 2rem;
	cursor: pointer;
}

.cover {
	overflow: hidden;
	position: relative;
	border-radius: 50px;
	height: 6rem;
	width: 6rem;
	background-color: black;
	float: left;

}

.icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
	max-height: 150%;
}
